#si{
    margin: 10% 10% 10% 10%;
}
 #siform{
    width: 50%;
    border: 1px solid green;
    height: 300px;
    floatl:left;

}
#sires{
    width: 50%;
    border: 1px solid green;
    margin-left: 50%;
    float: left;
    height: 500px;
    
}